

.completed {
    text-decoration: line-through;
}

button {
    border: 1.25px solid white;
    background-color: white;
    margin-left: 2px;
    font-weight: bold;
    cursor: pointer;
    color: darkslategrey;
}

button:hover {
    color: white;
    background-color: darkslategrey;
    font-weight: bold;
}

.top {
   color: white;
}

.Todo {
    font-weight: bold;
    cursor: pointer;
    color: white;
}